* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.auth-body {
  background-color: #EDF4ED;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px !important;
  max-width: 100%;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.auth-h1 {
  font-size: 3em;
  color: #668d15;
  text-align: center;
  margin: 10px;
}

form input,
form textarea {
  margin: 5px;
}

form button {
  font-size: 1em;
}

.auth-error {
  color: red;
  font-size: 0.9em;
  margin-bottom: 5px;
  text-align: center;
}

.btn-back-to-home {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #007BFF;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.btn-back-to-home:hover {
  background-color: #0056b3;
}

.btn-back-to-home:active {
  background-color: #003d80;
}

.btn-change-password {
  background-color: #3652f4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-change-password:hover {
  background-color: #0f27ac;
}